<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <module name="SuppressWarningsFilter"/>
    <module name="Translation"/>
    <module name="FileTabCharacter"/>
    <module name="LineLength">
        <property name="max" value="150"/>
    </module>
    <module name="TreeWalker">
        <module name="SuppressWarningsHolder"/>
        <module name="SuppressionCommentFilter"/>
        <module name="SuppressWithNearbyCommentFilter"/>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="IllegalImport">
            <property name="regexp" value="true"/>
            <property name="illegalPkgs" value="sun"/>
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber">
            <property name="ignoreOverriddenMethods" value="true"/>
        </module>
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA, SEMI"/>
        </module>
        <module name="RedundantModifier"/>
        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="true"/>
        </module>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MissingSwitchDefault"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="FinalClass"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>
        <module name="UpperEll"/>

        <!-- Imports -->
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
<!--        <module name="ImportOrder">-->
<!--            <property name="ordered" value="true"/>-->
<!--            <property name="groups" value="java, javax, org, com"/>-->
<!--            <property name="separated" value="true"/>-->
<!--        </module>-->

        <!-- Class Design -->
        <module name="DesignForExtension"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="OneTopLevelClass"/>
        <module name="ThrowsCount"/>

        <!-- Miscellaneous -->
        <module name="AnnotationUseStyle"/>
        <module name="AvoidInlineConditionals"/>
        <module name="BooleanExpressionComplexity">
            <property name="max" value="3"/>
        </module>
        <module name="ClassDataAbstractionCoupling"/>
        <module name="ClassFanOutComplexity"/>
        <module name="CyclomaticComplexity"/>
        <module name="NestedIfDepth"/>
        <module name="ReturnCount"/>
        <module name="MethodCount"/>

    </module>
</module>